#nav-border {
  height: 150px;
  margin-top: 80px;
}
#content {
  height: 350px;
  padding-top: 150px;
  background: lightgray;
}
.footer {
  margin-top: 50px;
}
.nav-link {
  font-size: 36px;
  font-weight: bolder;
}